:root {
    --thumbnail-border-width: 0px;
    --thumbnail-container-height: 250px;
    --thumbnail_background: rgb(33, 134, 43);
    --thumbnail-image-width: 100px;
    --thumbnail-image-height: 100px;
    --thumbnail-text-font-size: 30px;
    --thumbnail-text-font-color: rgb(7, 24, 101);
    --thumbnail-text-font-shadow-color: rgb(0, 0, 0);

    --thumbnail-container-border-width: 1px;
    --thumbnail-container-border-color: rgb(48, 53, 13);
    --thumbnail-container-background: rgb(48, 53, 13);

    --thumbnail-container-block-border-width: 0px;
    --thumbnail-container-block-border-color: rgb(33, 134, 56);
    --thumbnail-container-block-background: rgb(33, 134, 56);

    --scroll-section-border-width: 0px;
    --scroll-section-border-color: rgb(33, 134, 56);
    --scroll-section-background: rgb(33, 134, 56);
    --scroll-section-height-portion: 60%;

    --static-section-height-portion: 40%;

    --history-section-background: rgb(13, 30, 53);
    --history-section-border-width: 0px;
    --history-section-border-color: rgb(13, 30, 53);
    --history-section-font-size: 10 px;
    --history-section-font-color: rgb(0, 0, 0);
    --history-section-height: 1.5em;    

    --description-section-border-width: 0px;
    --description-section-border-color: rgb(70, 70, 70);
    --description-section-background: rgb(70, 70, 70);


    --description-image-width: 1px;
    --description-text-wrapper-top: 0px;
    --description-text-wrapper-left: 0px;
    --description-text-wrapper-height: 0px;
    --description-text-wrapper-width: 0px;

    --description-text-extra-font-size: 0px;
    --description-text-storyline-height: 10px;
    --description-text-storyline-font-size: 0px;
    --description-text-credentials-height: 0px;
    --description-text-credentials-font-size: 0px;

    --description-text-storyline-width:50%;

    --description-image: "";
}

body {
    margin: 0px;
}

#static-section{
    height: var(--static-section-height-portion);               /* to occupy vertically the half part of the screen */
    display: flex;                                              /* children divs (description-section, history-section)*/
    flex-direction: column;                                     /* must be in one column */
}

#description-section{
    width: 100%;                                                /* occupy the whole width*/
    flex-grow: 100;                                             /* grow as big as it can be vertically */

    display: flex;                                              /* children divs (description-text-div, description-image) */
    flex-direction: row;                                        /* must be in one row */
    flex-wrap: nowrap;
    justify-content: flex-end;

    background-color: var(--description-section-border-background);
    border: var(--description-section-border-width) var(--description-section-border-color) solid;
    box-sizing:border-box;      
}

#description-text-div{
    flex-grow: 100;                                             /* grow as wide as it can. On right side the description image lays */
    display:inline-block;
    font-family: 'Brush Script MT', cursive;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%,rgb(9, 60, 41) 60%);
    border: 0px rgb(0, 255, 247) solid;                        /* for test purpose */
}

#description-text-wrapper{
    display: flex;                                              /* children divs (description-text-title, description-text-extra, description-text-area-div) */
    flex-direction: column;                                     /* must be in one column */

    box-sizing: border-box;                                     /* element and padding and border are included in the width and height */
    position: absolute;
    top: var(--description-text-wrapper-top);
    left: var(--description-text-wrapper-left);
    height: var(--description-text-wrapper-height);
    width: var(--description-text-wrapper-width);
    overflow: hidden;                                           /* if the content does not fit, the overflow part will be hidden   */
    border: 0px rgb(255, 0, 230) solid;                       /* for test purpose */
}

#description-text-title{
        text-shadow: 0px 0px 20px black;
        font-weight: bold;
        font-size: 80px;
        color: white;
        white-space: wrap;
        border: 10px solid transparent;                         /* Needed to make margin to the text */
}

#description-text-extra{
    display: inline-flex;                                       /* children divs (description-text-extra-length, description-text-extra-date, description-text-extra-block) */
    flex-direction: row;                                        /* must be in one row */
    justify-content: space-between;

    width: var(--description-text-storyline-width);
    text-shadow: 0px 0px 10px rgb(187, 189, 255);
    font-weight: bold;
    font-size: var(--description-text-extra-font-size);
    color: rgb(187, 189, 255);
    border: 10px solid transparent;                             /* Needed to make margin to the text */
}

#description-text-extra-block-origin{
    text-align: right;
}
#description-text-extra-block-genre{
    text-align: right;
}
#description-text-extra-block-theme{
    text-align: right;
}

#description-text-extra-block{
    display: inline-flex;                                       /* children divs (description-text-extra-block-genre, description-text-extra-block-theme, description-text-extra-block-origin) */
    flex-direction: column;                                     /* must be in one column */
}

#description-text-area-div{
    display: flex;                                              /* children divs (description-text-storyline, description-text-credentials) */
    flex-direction: row;                                        /* must be in one row */
    border: 0px blue solid;                                   /* for test purpose */
}

#description-text-storyline{
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    text-shadow: 0px 0px 10px rgb(190, 253, 250);
    font-weight: bold;
    font-size: var(--description-text-storyline-font-size);
    color: rgb(190, 253, 250);
    white-space: wrap;                                          /* the new line (\n) will take effect */
    word-break: break-word;

    height: var(--description-text-storyline-height);
    width: var(--description-text-storyline-width);
    overflow: hidden; 
    text-align: justify;
    border-left: 10px solid transparent;
    overflow-y: auto;                                           /* it shows the vertical scrollbar only if it is necessary. values: scroll/auto */
    white-space: pre-wrap;
}

#description-text-credentials{
    display: inline-block;
    position: relative;
 
    left: 10px;
    text-shadow: 0px 0px 10px rgb(57, 57, 49);
    font-weight: bold;
    font-size: var(--description-text-credentials-font-size);
    color: rgb(255, 255, 188);
    vertical-align:top;     /* starts the text from the top*/
    white-space: wrap;

    height: var(--description-text-credentials-height);

    overflow: hidden; 
    text-align: justify;
    border-left: 20px solid transparent;
    overflow-y: auto;                                           /* it shows the vertical scrollbar only if it is necessary. values: scroll/auto */
}

#description-text-credentials-table{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-shadow: inherit
}











#description-appendix{
    display: flex;                                              /* children divs (description-text-storyline, description-text-credentials) */
    flex-direction: row;                                        /* must be in one row */
    /* border: 4px rgb(255, 225, 0) solid; */
}


.description-appendix-download-button {
    display: inline-block;
    margin: 4px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #1e2b4e; 
    border-color: #000000;
    text-decoration: none;
}

.description-appendix-show-button {
    display: inline-block;
    margin: 4px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #1e4e46; 
    border-color: #000000;
    text-decoration: none;
}

.description-appendix-download-button:hover{
    background-color: #312a97;
    text-decoration: underline;
}

.description-appendix-show-button:hover{
    background-color: #42a796;
    text-decoration: underline;
}
















#description-image{
    /* height: 100%; */
    width: var(--description-image-width);
    background: var(--description-image);
    box-shadow: inset 50px 0px 40px 0 #FFF;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px rgb(255, 14, 14) solid;                       /* for test purpose */
}





#history-section{
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */
/*    width: 100%;                                              /* it occupies the whole .scroll-section horizontally */
    display: block;                                             /* new line */
    
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: var(--history-section-font-size);
    color: var(--history-section-font-color);
    min-height: var(--history-section-height);

    border: var(--history-section-border-width) var(--history-section-border-color) solid;
    background-color: var(--history-section-background);
}

#history-section-text{
    display: inline-block; 
    
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

#history-section-link{
    display: inline-block; 

    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}




 
#scroll-section {
    box-sizing: border-box;                                     /* element and padding and border are included in the width and height */
    height: var(--scroll-section-height-portion);               /* occupies the upper 40% of the browser's screen. if you chnage the browser's height, it changes */
    width: 100%;                                                /* occupies the whole browser sceen horizontally */
    display: flex;                                              /* flex box layout model */
    flex-direction: column;                                     /* stacks the flex items vertically */
    flex-wrap: nowrap;                                          /* the flex items will not wrap */
    overflow: hidden;                                           /* flex items which does not fit, will be hidden */
    border: var(--scroll-section-border-width) var(--scroll-section-border-color) solid;
    background-color: var(--scroll-section-background);
} 



.thumbnail-container-block {
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */
    width: 100%;                                                /* it occupies the whole .scroll-section horizontally */
    display: flex;                                              /* flex box layout model */
    flex-direction: column;                                     /* stacks the flex items vertically */
    flex-wrap: nowrap;                                          /* the flex items will not wrap */
    overflow: visible;           
    border: var(--thumbnail-container-block-border-width) var(--thumbnail-container-block-border-color) solid;
    background-color: var(--thumbnail-container-block-background);
}

.thumbnail-container-title{
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 30px;
}

.thumbnail-container {
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */

    height: var(--thumbnail-container-height); 
    min-height: var(--thumbnail-container-height); 
    width: 100%;                                                /* it occupies the whole .scroll-section horizontally */
    display: flex;                                              /* flex box layout model */
    flex-direction: row;                                        /* stacks the flex items vertically */
    flex-wrap: nowrap;                                          /* the flex items will not wrap */
    overflow: hidden;                                           /* flex items which does not fit, will be hidden */
    border: var(--thumbnail-container-border-width) var(--thumbnail-container-border-color) solid;
    background-color: var(--thumbnail-container-background);
}

.thumbnail-container-space {
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */
    height: 40px;                                               /* fix height of the container */
    min-height: 40px;                                           /* it must be set. ??? */
    width: 100%;                                                /* it occupies the whole .scroll-section horizontally */
    display: block;                                             /* flex box layout model */
}

.thumbnail {
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */
    height: 100%;                                               /* occupies the full height of the .thumbnail-container */       
    margin-right: 5px;
    margin-left: 5px;

    border: var(--thumbnail-border-width) solid transparent;    /* for the focus frame */
    background-color: var(--thumbnail_background);
    display: flex;                                              /* flex box layout model */
    position: relative;                                         /* This made the animation with text work. I do not know how */
}

.thumbnail img {
    width: var(--thumbnail-image-width);
    height: var(--thumbnail-image-height);
    max-height: var(--thumbnail-image-height);
    object-fit: contain;
}

.thumbnail-text-wrapper{            
    position: absolute;                                         /* relative to the nearestx positioned ancestor: .thumbnail. That is the reason the .thumbnail has position: relative */

    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: var(--thumbnail-text-font-size);
    color: var(--thumbnail-text-font-color);
    text-shadow: 
        -1px -1px 0px var(--thumbnail-text-font-shadow-color),
        1px -1px 0px var(--thumbnail-text-font-shadow-color),
        1px 1px 0px var(--thumbnail-text-font-shadow-color),
        -1px 1px 0px var(--thumbnail-text-font-shadow-color);
}

.thumbnail-text{                                                /* needed to centralize horizontally the text*/
    position: relative;
    text-align: center;                                         /* the .thumbail-text-wrapper has position:absolute, so it is not possible to align to center*/
    overflow-wrap: anywhere;                                    /* It is needed to break a word if it does not fit to the tubnnail */
}

.fancybox-is-open {
    .fancybox-bg {
        opacity: 1.0 !important;                                /* background of the fancybox in not transparent */
        background-color: #000000 !important;                 /* background of the fancybox is black */
    }
}

.fancybox-bg {
    opacity: 1.0 !important;                                    /* background of the fancybox in not transparent */
    background-color: #000000 !important;                     /* background of the fancybox is black */
}
