:root {
    --static-section-height-portion: 40%;
    --scroll-section-height-portion: 60%;
    --scroll-section-border-width: 0px;
    --thumbnail-container-block-border-width: 0px;
    --thumbnail-container-border-width: 1px;
    --thumbnail-border-width: 0px;
    --thumbnail-container-height: 250px;
    --thumbnail-image-width: 100px;
    --thumbnail-image-height: 100px;
    --thumbnail-text-font-size: 30px;

    --description-image-width: 1px;
    --description-text-wrapper-top: 0px;
    --description-text-wrapper-left: 0px;
    --description-text-wrapper-height: 0px;
    --description-text-wrapper-width: 0px;

    --description-text-extra-font-size: 0px;
    --description-text-storyline-height: 10px;
    --description-text-storyline-font-size: 0px;
    --description-text-credentials-height: 0px;
    --description-text-credentials-font-size: 0px;

    --description-text-storyline-width:50%;

    --description-image: "";
}

body {
    margin: 0px;
}

#static-section{
    height: var(--static-section-height-portion);               /* to occupy vertically the half part of the screen */
    display: flex;                                              /* children divs (description-section, history-section)*/
    flex-direction: column;                                     /* must be in one column */
}

#description-section{
    width: 100%;                                                /* occupy the whole width*/
    flex-grow: 100;                                             /* grow as big as it can be vertically */

    display: flex;                                              /* children divs (description-text-div, description-image) */
    flex-direction: row;                                        /* must be in one row */
    flex-wrap: nowrap;
    justify-content: flex-end;

    background-color: rgb(171, 253, 176);
    border: var(--scroll-section-border-width) rgb(0, 103, 0) solid;
    box-sizing:border-box;      
}

#description-text-div{
    flex-grow: 100;                                             /* grow as wide as it can. On right side the description image lays */
    display:inline-block;
    font-family: 'Brush Script MT', cursive;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%,rgb(9, 60, 41) 60%);
    border: 0px rgb(98, 0, 255) solid;                        /* for test purpose */
}

#description-text-wrapper{
    display: flex;                                              /* children divs (description-text-title, description-text-extra, description-text-area-div) */
    flex-direction: column;                                     /* must be in one column */

    box-sizing: border-box;                                     /* element and padding and border are included in the width and height */
    position: absolute;
    top: var(--description-text-wrapper-top);
    left: var(--description-text-wrapper-left);
    height: var(--description-text-wrapper-height);
    width: var(--description-text-wrapper-width);
    overflow: hidden;                                           /* if the content does not fit, the overflow part will be hidden   */
    border: 0px rgb(255, 0, 230) solid;                       /* for test purpose */
}

#description-text-title{
        text-shadow: 0px 0px 20px black;
        font-weight: bold;
        font-size: 80px;
        color: white;
        white-space: wrap;
        border: 10px solid transparent;                         /* Needed to make margin to the text */
}

#description-text-extra{
    display: inline-flex;                                       /* children divs (description-text-extra-length, description-text-extra-date, description-text-extra-block) */
    flex-direction: row;                                        /* must be in one row */
    justify-content: space-between;

    width: var(--description-text-storyline-width);
    text-shadow: 0px 0px 10px rgb(187, 189, 255);
    font-weight: bold;
    font-size: var(--description-text-extra-font-size);
    color: rgb(187, 189, 255);
    border: 10px solid transparent;                             /* Needed to make margin to the text */
}

#description-text-extra-block-origin{
    text-align: right;
}
#description-text-extra-block-genre{
    text-align: right;
}
#description-text-extra-block-theme{
    text-align: right;
}



#description-text-extra-block{
    display: inline-flex;                                       /* children divs (description-text-extra-block-genre, description-text-extra-block-theme, description-text-extra-block-origin) */
    flex-direction: column;                                     /* must be in one column */
}

#description-text-area-div{
    display: flex;                                              /* children divs (description-text-storyline, description-text-credentials) */
    flex-direction: row;                                        /* must be in one row */
    border: 0px blue solid;                                   /* for test purpose */
}

#description-text-storyline{
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    text-shadow: 0px 0px 10px rgb(190, 253, 250);
    font-weight: bold;
    font-size: var(--description-text-storyline-font-size);
    color: rgb(190, 253, 250);
    white-space: wrap;                                          /* the new line (\n) will take effect */
    word-break: break-word;

    height: var(--description-text-storyline-height);
    width: var(--description-text-storyline-width);
    overflow: hidden; 
    text-align: justify;
    border-left: 10px solid transparent;
    overflow-y: auto;                                           /* it shows the vertical scrollbar only if it is necessary. values: scroll/auto */
    white-space: pre-wrap;
}

#description-text-credentials{
    display: inline-block;
    position: relative;
 
    left: 10px;
    text-shadow: 0px 0px 10px rgb(57, 57, 49);
    font-weight: bold;
    font-size: var(--description-text-credentials-font-size);
    color: rgb(255, 255, 188);
    vertical-align:top;     /* starts the text from the top*/
    white-space: wrap;

    height: var(--description-text-credentials-height);

    overflow: hidden; 
    text-align: justify;
    border-left: 20px solid transparent;
    overflow-y: auto;                                           /* it shows the vertical scrollbar only if it is necessary. values: scroll/auto */
}

#description-text-credentials-table{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-shadow: inherit
}

#description-image{
    /* height: 100%; */
    width: var(--description-image-width);
    background: var(--description-image);
    box-shadow: inset 50px 0px 40px 0 #FFF;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px rgb(255, 14, 14) solid;                       /* for test purpose */
}





#history-section{
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */
/*    width: 100%;                                              /* it occupies the whole .scroll-section horizontally */
    display: block;                                             /* new line */
    
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: var(--description-text-storyline-font-size);
    color: black;
    min-height: 1.5em;

    border: 0px rgb(255, 14, 14) solid;                       /* for test purpose */
    background-color: rgb(255, 243, 175);  
}

#history-section-text{
    display: inline-block; 
    
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

#history-section-link{
    display: inline-block; 

    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}




 
#scroll-section {
    box-sizing: border-box;                                     /* element and padding and border are included in the width and height */
    height: var(--scroll-section-height-portion);               /* occupies the upper 40% of the browser's screen. if you chnage the browser's height, it changes */
    width: 100%;                                                /* occupies the whole browser sceen horizontally */
    display: flex;                                              /* flex box layout model */
    flex-direction: column;                                     /* stacks the flex items vertically */
    flex-wrap: nowrap;                                          /* the flex items will not wrap */
    overflow: hidden;                                           /* flex items which does not fit, will be hidden */
    border: var(--scroll-section-border-width) rgb(255, 247, 0) solid;
    background-color: rgb(255, 248, 189);
} 



.thumbnail-container-block {
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */
    width: 100%;                                                /* it occupies the whole .scroll-section horizontally */
    display: flex;                                              /* flex box layout model */
    flex-direction: column;                                     /* stacks the flex items vertically */
    flex-wrap: nowrap;                                          /* the flex items will not wrap */
    overflow: visible;           
    border: var(--thumbnail-container-block-border-width) rgb(0, 255, 13) solid;
    background-color: rgb(217, 255, 175);
}

.thumbnail-container-title{
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 30px;
}

.thumbnail-container {
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */

    height: var(--thumbnail-container-height); 
    min-height: var(--thumbnail-container-height); 
    width: 100%;                                                /* it occupies the whole .scroll-section horizontally */
    display: flex;                                              /* flex box layout model */
    flex-direction: row;                                        /* stacks the flex items vertically */
    flex-wrap: nowrap;                                          /* the flex items will not wrap */
    overflow: hidden;                                           /* flex items which does not fit, will be hidden */
    border: var(--thumbnail-container-border-width) blue solid;
    background-color: rgb(148, 192, 249);
}

.thumbnail-container-space {
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */
    height: 40px;                                               /* fix height of the container */
    min-height: 40px;                                           /* it must be set. ??? */
    width: 100%;                                                /* it occupies the whole .scroll-section horizontally */
    display: block;                                             /* flex box layout model */
}

.thumbnail {
    box-sizing:border-box;                                      /* element and padding and border are included in the width and height */
    height: 100%;                                               /* occupies the full height of the .thumbnail-container */       
    margin-right: 5px;
    margin-left: 5px;

    border: var(--thumbnail-border-width) solid transparent;    /* for the focus frame */
    background-color: rgb(35, 140, 135);

    display: flex;                                              /* flex box layout model */
    position: relative;                                         /* This made the animation with text work. I do not know how */
}

.thumbnail img {
    width: var(--thumbnail-image-width);
    height: var(--thumbnail-image-height);
    max-height: var(--thumbnail-image-height);
    object-fit: contain;
}

.thumbnail-text-wrapper{            
    position: absolute;                                         /* relative to the nearestx positioned ancestor: .thumbnail. That is the reason the .thumbnail has position: relative */

    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: var(--thumbnail-text-font-size);
    color: rgb(70, 26, 231);
    text-shadow: 
        -1px -1px 0px black,
        1px -1px 0px black,
        1px 1px 0px black,
        -1px 1px 0px black;
}

.thumbnail-text{                                                /* needed to centralize horizontally the text*/
    position: relative;
    text-align: center;                                         /* the .thumbail-text-wrapper has position:absolute, so it is not possible to align to center */
}
