:root {
    --description-section-height-portion: 40%;
    --thumbnail-section-height-portion: 60%;
    --thumbnail-section-border-width: 0px;
    --thumbnail-container-block-border-width: 0px;
    --thumbnail-container-border-width: 1px;
    --thumbnail-border-width: 0px;
    --thumbnail-container-height: 250px;
    --thumbnail-image-width: 100px;
    --thumbnail-image-height: 100px;
    --description-image-width: 1px;

    --description-text-wrapper-top: 0px;
    --description-text-wrapper-left: 0px;
    --description-text-wrapper-height: 0px;
    --description-text-wrapper-width: 0px;

    --description-text-extra-font-size: 0px;
    --description-text-storyline-height: 0px;
    --description-text-storyline-font-size: 0px;
    --description-text-credentials-height: 0px;
    --description-text-credentials-font-size: 0px;

    --description-image: "";
}

body {
    margin: 0px;
}

#description-section{
    height: var(--description-section-height-portion);
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    background-color: rgb(171, 253, 176);
    border: var(--thumbnail-section-border-width) green solid;
    box-sizing:border-box;            
}

#description-text-div{
    height: 100%;
    flex-grow: 100;     /* grow as wide as it can. On right side the description image lays*/
    display:inline;
    font-family: 'Brush Script MT', cursive;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%,rgb(9, 60, 41) 60%);
}

#description-text-wrapper{
    box-sizing: border-box; /* element and padding and border are included in the width and height */
    position: absolute;
    top: var(--description-text-wrapper-top);
    left: var(--description-text-wrapper-left);
    height: var(--description-text-wrapper-height);
    width: var(--description-text-wrapper-width);
    overflow: hidden;  
    border: 0px red solid;
}

#description-text-title{
    display: inline-block;
    position: relative;
    flex-grow: 100;                 /* That works instead of width: 100%. I do not know why */
    text-shadow: 0px 0px 20px black;
    font-weight: bold;
    font-size: 80px;
    color: white;
    white-space: wrap;
    border: 10px solid transparent;  /* Needed to make margin to the text */
}






#description-text-extra{
    display: block;
    position: relative;
    flex-grow: 100;
    text-shadow: 0px 0px 10px rgb(187, 189, 255);
    font-weight: bold;
    font-size: var(--description-text-extra-font-size);
    color: rgb(187, 189, 255);
    border: 10px solid transparent;  /* Needed to make margin to the text */
}

#description-text-extra-table{
    width: 100%;
    text-shadow: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}



#description-text-storyline{
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    /* width: 40%; */
    /* top:10px;
    left: 10px; */
    text-shadow: 0px 0px 10px rgb(190, 253, 250);
    font-weight: bold;
    font-size: var(--description-text-storyline-font-size);
    color: rgb(190, 253, 250);
    white-space: wrap;
    word-break: break-word;

    height: var(--description-text-storyline-height);
    overflow: hidden; 
    text-align: justify;
    border-left: 10px solid transparent;
    overflow-y: auto;               /* it shows the vertical scrollbar only if it is necessary. values: scroll/auto */
}

#description-text-credentials{
    display: inline-block;
    position: relative;
    /* width: 30%; */
    top:10px;
    left: 10px;
    text-shadow: 0px 0px 10px rgb(255, 255, 188);
    font-weight: bold;
    font-size: var(--description-text-credentials-font-size);
    color: rgb(255, 255, 188);
    vertical-align:top;     /* starts the text from the top*/
    white-space: wrap;

    height: var(--description-text-credentials-height);
    overflow: hidden; 
    text-align: justify;
    border-left: 20px solid transparent;
    overflow-y: auto;               /* it shows the vertical scrollbar only if it is necessary. values: scroll/auto */
}

#description-text-credentials-table{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-shadow: inherit
}

#description-image{
    height: 100%;
    width: var(--description-image-width);
    background: var(--description-image);
    box-shadow: inset 50px 0px 40px 0 #FFF;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
}


 
#thumbnail-section {
    box-sizing: border-box;     /* element and padding and border are included in the width and height */
    height: var(--thumbnail-section-height-portion); /* occupies the upper 40% of the browser's screen. if you chnage the browser's height, it changes */
    width: 100%;                /* occupies the whole browser sceen horizontally */
    display: flex;              /* flex box layout model */
    flex-direction: column;     /* stacks the flex items vertically */
    flex-wrap: nowrap;          /* the flex items will not wrap */
    overflow: hidden;           /* flex items which does not fit, will be hidden */
    border: var(--thumbnail-section-border-width) rgb(255, 247, 0) solid;
    background-color: rgb(255, 248, 189);
} 


#thumbnail-section-history{
    box-sizing:border-box;      /* element and padding and border are included in the width and height */
    width: 100%;                /* it occupies the whole .thumbnail-section horizontally */
    display: flex;              /* flex box layout model */
    
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: var(--description-text-storyline-font-size);
    color: black;

    border: 4px rgb(255, 14, 14) solid;
    background-color: rgb(255, 243, 175);
}





.thumbnail-container-block {
    box-sizing:border-box;      /* element and padding and border are included in the width and height */
    width: 100%;                /* it occupies the whole .thumbnail-section horizontally */
    display: flex;              /* flex box layout model */
    flex-direction: column;     /* stacks the flex items vertically */
    flex-wrap: nowrap;          /* the flex items will not wrap */
    overflow: visible;           
    border: var(--thumbnail-container-block-border-width) rgb(0, 255, 13) solid;
    background-color: rgb(217, 255, 175);
}

.thumbnail-container-title{
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 30px;
}

.thumbnail-container {
    box-sizing:border-box;      /* element and padding and border are included in the width and height */

    height: var(--thumbnail-container-height); 
    min-height: var(--thumbnail-container-height); 
    width: 100%;                /* it occupies the whole .thumbnail-section horizontally */
    display: flex;              /* flex box layout model */
    flex-direction: row;        /* stacks the flex items vertically */
    flex-wrap: nowrap;          /* the flex items will not wrap */
    overflow: hidden;           /* flex items which does not fit, will be hidden */
    border: var(--thumbnail-container-border-width) blue solid;
    background-color: rgb(148, 192, 249);
}

.thumbnail-container-space {
    box-sizing:border-box;      /* element and padding and border are included in the width and height */
    height: 40px;               /* fix height of the container */
    min-height: 40px;           /* it must be set. ??? */
    width: 100%;                /* it occupies the whole .thumbnail-section horizontally */
    display: block;             /* flex box layout model */
}

.thumbnail {
    box-sizing:border-box;      /* element and padding and border are included in the width and height */
    height: 100%;               /* occupies the full height of the .thumbnail-container */       
    margin-right: 5px;
    margin-left: 5px;

    border: var(--thumbnail-border-width) solid transparent; /* for the focus frame */
    background-color: rgb(35, 140, 135);

    display: flex;              /* flex box layout model */
    position: relative;          /* This made the animation with text work. I do not know how */
}

.thumbnail img {
    width: var(--thumbnail-image-width);
    height: var(--thumbnail-image-height);
    max-height: var(--thumbnail-image-height);
    object-fit: contain;
}

.thumbnail-text-wrapper{            
    position: absolute;         /* relative to the nearestx positioned ancestor: .thumbnail. That is the reason the .thumbnail has position: relative */
    max-width: 300px;           /* needed to tell to the absolute positioned element what is the size otherwise the 'absolute' element does not know*/
    width: 300px;               /* needed to tell to the absolute positioned element what is the size otherwise the 'absolute' element does not know*/
    height: 238px;              /* needed to tell to the absolute positioned element what is the size otherwise the 'absolute' element does not know*/
    max-height: 238px;          /* needed to tell to the absolute positioned element what is the size otherwise the 'absolute' element does not know*/

    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 50px;
    color: rgb(70, 26, 231);
    text-shadow: 
        -1px -1px 0px black,
        1px -1px 0px black,
        1px 1px 0px black,
        -1px 1px 0px black;
}

.thumbnail-text{                /* needed to centralize horizontally the text*/
    position: relative;
    text-align: center;         /* the .thumbail-text-wrapper has position:absolute, so it is not possible to align to center */
}
